/* Empty. Add your own CSS if you like */
select {
    border: 1px solid #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 5px;
}

.input {
	padding-bottom: 4% !important;
}

.text-primary {
    color: #212121;
}

.text-subtitle {
    font-size: 18px;
    font-weight: 400;
}

.subtitle {
    padding-bottom: 10px;
    padding-top: 10px;
}

.vaga-body {
    padding: 16px;
}

.vaga-body h2 {
    font-size: 18px;
}

.bar-balanced button {
    margin-top: 0px !important;
    font-size: 15px !important;
}

.circle {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #33CD5F;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: white;
}

div .center {
    text-align:center;
}

.center button {
    display: inline-block;
    width: 70%;
}

.news-message {
    padding: 20px;
    text-align: center;
}

.news-message h2 {
    font-size: 20px;
}

.news-message h3 {
    font-size: 18px;
}

.news-message .ion-android-alert {
    font-size: 30px;
    color: #ffc900;
}