<ion-view ng-controller="JobsDetailCtrl" view-title="{{vm.title}}">
  <ion-content>

      <div class="item item-avatar">
        <div class="circle">{{vm.vaga.empresa.substring(0,1)}}</div>
        <h2>{{vm.vaga.nome}}</h2>
        <p>{{vm.vaga.empresa}}</p>
      </div>

      <div class="vaga-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non quam lorem. Cras at dui tincidunt, vulputate lorem ac, pulvinar orci. Suspendisse potenti. Suspendisse at eros orci.
          Donec dapibus sapien molestie libero varius mollis.
        </p>

        <h2>Remuneração</h2>
        <p>{{vm.vaga.remuneracao}}</p>

        <h2>Regime de Contratação</h2>
        <p>{{vm.vaga.tipoRegime}}</p>
        <p>{{vm.vaga.cargaHoraria}} horas</p>

          <h2>Exigências</h2>
          <div ng-repeat="exigencia in vm.vaga.exigencias">
            <p>&#x2714 {{exigencia}}</p>
          </div>
      </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-balanced">
      <button class="button button-block button-balanced footer">
        Candidate-se (Em breve)
      </button>
  </ion-footer-bar>
</ion-view>
