<ion-view ng-controller="JobsCtrl" view-title="{{vm.title}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="vaga in vm.vagas" type="item-text-wrap" href="#/tab/jobs/{{vaga.id}}">
        <!--img ng-src="{{chat.face}}"-->
        <h2>{{vaga.nome}}</h2>
        <p>{{vaga.nomeEmpresa}}</p>
        <p>{{vaga.cidade}}, {{vaga.siglaEstado}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
