<ion-view view-title="Favoritos">
  <ion-content>
    <ion-list>
    	<div class="news-message">
    		<span class="ion-android-alert"></span>
	    	<h2>Fique Ligado!</h2>
	    	<p></p>
	   		<h3>Novas Vagas dos seu interesse aparecerão aqui automaticamente.</h3>
   		</div>
    </ion-list>
  </ion-content>
</ion-view>
