<ion-view view-title="Preferências">
  <ion-content>
    <ion-list>
		<li class="item item-toggle">
	    	Notificações de Novas Vagas
	    	<label class="toggle toggle-assertive">
		    	<input type="checkbox">
			    <div class="track">
			    	<div class="handle"></div>
			    </div>
	    	</label>
		</li>
		<li class="item" style="text-align: center">
			Curriculum Profissional
			<div class="center">
				<button class="button button-block button-assertive">
					Cadastrar (Em breve)
				</button>
			</div>
		</li>
    </ion-list>
  </ion-content>
</ion-view>
