<ion-view view-title="{{vm.title}}">
  <ion-content class="padding">

  		<form ng-submit="vm.search()" name="form">
  			
  			<div class="subtitle">
  				<span class="text-primary text-subtitle">{{vm.subtitle}}</span>
  			</div>

  			<div class="input">
			  	<label>
		       		<select required>
		       			<option value="">Selecione o Estado</option>
		       			<option value="Bahia">Bahia</option>
		       			<option value="Rio de Janeiro">Rio de Janeiro</option>
		       		</select>
		        </label>	
	        </div>	

	        <div class="input">
			  	<label>
		       		<select required>
		       			<option value="">Selecione a área</option>
		       			<option value="Analista de Sistemas">Analista de Sistemas</option>
		       			<option value="Vendedor">Vendedor</option>
		       		</select>
		        </label>
	        </div>	  		

	        <br/>
	        
	        <button class="button button-block button-balanced" type="submit">
				Buscar
			</button>

        </form>

  </ion-content>
</ion-view>
