<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-background-light tabs-color-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Buscar" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Favoritos" icon-off="ion-ios-bell-outline" icon-on="ion-ios-bell" href="#/tab/favorite">
    <ion-nav-view name="tab-favorite"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Preferências" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/preferences">
    <ion-nav-view name="tab-preferences"></ion-nav-view>
  </ion-tab>


</ion-tabs>